<h2>Submit AJAX Data v7</h2>

<div id="name-group">
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="Your name">
</div>

<div id="email-group">
    <label for="email">Email</label>
    <input type="text" name="email" placeholder="Your email">
</div>

<button id="sendButtopn">Send Data</button>

<div id="output"></div>