<!DOCTYPE html>
<html lang="en">

<head>
    <title>Rest API Demo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="home.js"></script>
</head>

<body>
    <%- include('header') %>
    <%- include('content') %>
    <%- include('footer') %>
</body>

</html>